In [2]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://postgres:postgres@localhost:5432/car-etl')

In [3]:
df1=pd.read_csv('CleanResources/CleanAutoListData.csv')
df1.to_sql('auto_list_data', engine,index=False)

In [4]:
df2=pd.read_csv('CleanResources/cleaned_customer_data.csv')
df2.to_sql('customer_data', engine, index=False)

In [5]:
df3=pd.read_csv('CleanResources/clean_fuel_economy.csv')
df3.to_sql('fuel_economy_data', engine, index=False)

In [6]:
df1

,price,make,model,year,mileage,display_color,vin,dealer_name,state,trim,body_style,condition,city
0,950,ford,pk,2001,229886.0,red,1ftrx17w41nb80705,167611176,IL,NaN,NaN,used,NaN
1,75,ford,pickup,2001,295780.0,gold,1ftrw08l61kc05834,167357592,AR,NaN,NaN,used,NaN
2,5000,dodge,pickup,2001,109360.0,white,1b7hc16x01s213315,167756836,GA,NaN,NaN,used,NaN
3,1400,dodge,pk,2002,185460.0,black,1b7hg38n62s587845,167756423,MI,NaN,NaN,used,NaN
4,7000,ford,pk,2003,176567.0,white,1ftnx20p73ed69682,167754187,TN,NaN,NaN,used,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6679,32935,Chevrolet,Bolt EV,2022,0.0,Mosaic Black Metallic,1G1FW6S0XN4110877,Jim Butler Chevrolet,MO,1LT,hatchback,new,Fenton
6680,35685,Chevrolet,Bolt EV,2022,0.0,Bright Blue Metallic,1G1FX6S01N4105807,Jim Butler Chevrolet,MO,2LT,hatchback,new,Fenton
6681,27712,Kia,K5,2022,0.0,Red,5XXG64J28NG108487,Arapahoe Kia,CO,GT-Line,sedan,new,Englewood
6682,32934,Hyundai,Sonata,2022,0.0,White,5NPEJ4J20NH136259,Big Star Hyundai,TX,SEL Plus,sedan,new,Friendswood
6683,34850,Kia,Sportage,2022,0.0,Steel Gray,KNDPN3AC2N7001496,Coral Springs Kia,FL,EX,suv,new,Coral Springs

In [7]:
df2

,Customer ID,Age,Income_Bucket,Gender,State,Region,Marital_Status,No_of_children,Occupation,Vehicle_Segment,No_of_months,Hobbies,On_Call_Offer
0,46756841,28,2,M,Q,Sub-urban,1,4,White Collar Clerical,SUV,39,Swimming,Plan 1
1,48408855,25,3,M,A,Sub-urban,2,3,Engineer,Compact SUV,14,Painting,Plan 5
2,23645631,58,2,M,Z,Urban,2,4,Defence,Car,24,Reading Books,Plan 5
3,65645152,37,1,M,W,Sub-urban,2,4,Sales Executive,Pick up truck,27,Gourmet Cooking,Plan 4
4,52236057,64,2,M,S,Sub-urban,1,4,Chef,Pick up truck,56,Music,Plan 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10710,93533721,57,2,F,V,Urban,2,2,White Collar Clerical,Car,9,Painting,Plan 5
10711,46199596,31,1,F,B,Urban,1,2,White Collar Clerical,Car,44,Painting,Plan 5
10712,71833901,29,1,F,N,Urban,1,0,White Collar Clerical,Car,40,Painting,Plan 5
10713,22935366,20,1,F,M,Urban,1,3,White Collar Clerical,Car,59,Painting,Plan 5
10714,58840492,24,1,F,M,Urban,1,2,White Collar Clerical,Car,25,Painting,Plan 5

In [8]:
df3

,Year,Make,Model,City MPG,Highway MPG,Combined MPG,Fuel Type,Annual Fuel Cost,Vehicle Size Class,Engine Cylinders,Transmission,Drive Axle Type
0,1985,Alfa Romeo,Spider Veloce 2000,19,25,21,Regular Gasoline,2250,Two Seaters,4.0,Manual 5-spd,Rear-Wheel Drive
1,1985,Ferrari,Testarossa,9,14,11,Regular Gasoline,4300,Two Seaters,12.0,Manual 5-spd,Rear-Wheel Drive
2,1985,Dodge,Charger,23,33,27,Regular Gasoline,1750,Subcompact Cars,4.0,Manual 5-spd,Front-Wheel Drive
3,1985,Dodge,B150/B250 Wagon 2WD,10,12,11,Regular Gasoline,4300,Vans,8.0,Automatic 3-spd,Rear-Wheel Drive
4,1993,Subaru,Legacy AWD Turbo,17,23,19,Premium Gasoline,3050,Compact Cars,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive
...,...,...,...,...,...,...,...,...,...,...,...,...
44035,1993,Subaru,Legacy,19,26,22,Regular Gasoline,2150,Compact Cars,4.0,Automatic 4-spd,Front-Wheel Drive
44036,1993,Subaru,Legacy,20,28,23,Regular Gasoline,2050,Compact Cars,4.0,Manual 5-spd,Front-Wheel Drive
44037,1993,Subaru,Legacy AWD,18,24,21,Regular Gasoline,2250,Compact Cars,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive
44038,1993,Subaru,Legacy AWD,18,24,21,Regular Gasoline,2250,Compact Cars,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive
44039,1993,Subaru,Legacy AWD Turbo,16,21,18,Premium Gasoline,3200,Compact Cars,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive