In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fuel_econ_df = pd.read_csv('fuel_economy.csv')

C:\Users\DConn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
fuel_econ_df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [4]:
clean_fuel_econ_df = fuel_econ_df[['year',
                                   'make',
                                   'model',
                                   'city08',
                                   'highway08',
                                   'comb08',
                                   'fuelCost08',
                                   'cylinders',
                                   'trany',
                                   'drive']]

In [5]:
clean_fuel_econ_df.head()

,year,make,model,city08,highway08,comb08,fuelCost08,cylinders,trany,drive
0,1985,Alfa Romeo,Spider Veloce 2000,19,25,21,2250,4.0,Manual 5-spd,Rear-Wheel Drive
1,1985,Ferrari,Testarossa,9,14,11,4300,12.0,Manual 5-spd,Rear-Wheel Drive
2,1985,Dodge,Charger,23,33,27,1750,4.0,Manual 5-spd,Front-Wheel Drive
3,1985,Dodge,B150/B250 Wagon 2WD,10,12,11,4300,8.0,Automatic 3-spd,Rear-Wheel Drive
4,1993,Subaru,Legacy AWD Turbo,17,23,19,3050,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive

In [6]:
print(len(clean_fuel_econ_df))

44040

In [7]:
clean_fuel_econ_rename = clean_fuel_econ_df.rename(columns={"year":"Year",
                                                            "make":"Make",
                                                            "model":"Model",
                                                            "city08":"City MPG",
                                                            "highway08":"Highway MPG",
                                                            "comb08":"Combined MPG",
                                                            "fuelCost08":"Annual Fuel Cost",
                                                            "cylinders":"Engine Cylinders",
                                                            "trany":"Transmission",
                                                            "drive":"Drive Axle Type"})

In [8]:
clean_fuel_econ_rename.head()

,Year,Make,Model,City MPG,Highway MPG,Combined MPG,Annual Fuel Cost,Engine Cylinders,Transmission,Drive Axle Type
0,1985,Alfa Romeo,Spider Veloce 2000,19,25,21,2250,4.0,Manual 5-spd,Rear-Wheel Drive
1,1985,Ferrari,Testarossa,9,14,11,4300,12.0,Manual 5-spd,Rear-Wheel Drive
2,1985,Dodge,Charger,23,33,27,1750,4.0,Manual 5-spd,Front-Wheel Drive
3,1985,Dodge,B150/B250 Wagon 2WD,10,12,11,4300,8.0,Automatic 3-spd,Rear-Wheel Drive
4,1993,Subaru,Legacy AWD Turbo,17,23,19,3050,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive

In [9]:
clean_fuel_econ_rename.to_csv("clean_fuel_economy.csv", 
                  encoding="utf-8", index=False, header=True)